h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.hero {
  background: #1b5054;
  padding: 200px 0 180px;
}

.main-logo {
  margin-top: -50px;
  padding-left: 50px;
}

.homepage-text {
  padding-right: 250px;
}

.btn-branding {
  background-color: white;
  background: white;
  border: 1px solid white;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 20px;
  position: relative;
  padding-right: 150px;
  margin-left: 515px;
  margin-top: -350px;
}

.btn-branding:hover {
  border: 2px solid white;
  background-color: #1b5054;
  color: white;
}

@media (max-width: 576px;) {
  .main-logo {
    display: block;
    margin: 0 20px;
  }

  h1 {
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
  }

  .btn-branding {
    text-align: center;
    font-size: 10px;
  }
}
