.nav-logo {
  max-width: 110px;
  width: 100%;
  padding-right: 40px;
  padding-top: 25px;
}

header {
  background: #1b5054;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-right: 50px;
  padding-top: 50px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

nav a:hover,
nav li.active a {
  color: #528181;
  transition: all ease-in 250ms;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #528181;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.menu {
  display: none;
}

.menu-line {
  width: 50px;
  height: 3px;
  background-color: white;
  margin-bottom: 8px;
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  color: #528181;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 25px;
}

h2 a {
  text-decoration: none;
  color: #528181;
}

h2 a:hover {
  color: #1b5054;
  transition: 1s ease-in-out;
}

h3 {
  color: #1b5054;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding-top: 50px;
}

h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.hero {
  background: #1b5054;
  padding: 20px 15px 25px;
}

#home {
  padding-top: 305px;
  padding-bottom: 190px;
}

.main-logo {
  max-width: 400px;
  padding-right: 100px;
  padding-top: 35px;
  margin-left: 100px;
}

.about {
  background: #1b5054;
  padding: 15px 15px 25px;
}

.portfolio-home {
  background: #1b5054;
  padding: 15px 15px 25px;
}

.about-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  padding-top: 20px;
  line-height: 1.3;
  font-size: 24px;
}

.projects-container {
  padding: 25px 15px;
  margin-bottom: 40px;
}

.btn-branding {
  background-color: white;
  background: white;
  border: 2px solid white;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 20px;
  position: relative;
  margin-top: 10px;
}

.btn-branding:hover {
  border: 2px solid white;
  background-color: #1b5054;
  color: white;
  transition: 1s;
}

.project-content {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
}

.project-content p {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.project-content h3 {
  margin-right: 30px;
  margin-left: 30px;
}

.weather-app-description p {
  color: #707070;
  padding-top: 5px;
  line-height: 1.3;
  font-size: 24px;
}

.mountain-bike-description p {
  color: #707070;
  padding-top: 5px;
  line-height: 1.3;
  font-size: 24px;
}

.connect {
  background: #1b5054;
  padding: 15px 15px 90px;
}

.connect-title {
  margin-top: 20px;
}

.connect-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;

  line-height: 1.3;
  font-size: 24px;
}

@media (max-width: 576px) {
  .main-logo {
    display: block;
    margin: 0 auto;
    padding-right: 0;
    max-width: 300px;
    margin-bottom: 50px;
    margin-top: -170px;
  }

  .navbar .nav-logo {
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    position: relative;
    padding: 0;
  }

  .nav-logo {
    margin-left: 20px;
  }

  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: right;
    padding-top: 15px;
    display: none;
    margin: 0;
  }

  nav a::before {
    display: none;
  }

  .menu {
    display: block;
    margin-right: 30px;
    margin-top: 40px;
  }

  .active {
    display: block;
  }

  h1 {
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    line-height: 1;
    text-align: center;
  }

  h3 {
    font-size: 35px;
    line-height: 1.2;
    margin: none;
    padding-bottom: 20px;
  }

  .btn-branding {
    text-align: center;
    font-size: 15px;
    display: block;
    margin-top: 25px;
  }

  .about-description {
    padding-top: 20px;
    line-height: 1.3;
    font-size: 18px;
  }

  .project-content {
    margin-top: 50px;
  }

  .weather-app-description {
    font-size: 28px;
    line-height: 1.3;
    margin: 0 auto;
  }

  .mountain-bike-description {
    font-size: 28px;
    line-height: 1.3;
    margin: 0 auto;
  }
}

@media (min-width: 577px) {
  .main-logo {
    margin-left: 0px;
  }

  nav li {
    display: inline-block;
  }

  .hero {
    padding: 200px 15px 180px;
  }

  .about {
    padding: 15px 180px 150px;
  }

  .portfolio-home {
    padding: 15px 180px 25px;
  }

  h2 {
    padding-top: 50px;
  }

  .projects-container {
    padding: 50px 15px;
  }

  .connect {
    padding: 15px 180px 90px;
  }
}

@media (min-width: 992px) {
  .main-logo {
    margin-top: -50px;
    padding-left: 50px;
  }
}
